body {
    font-family: Arial, sans-serif;
    background-color:#2d006a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
}

h2 {
    text-align: center;
    color:  #6a0dad;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #6a0dad;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #4b0060;
}

.message {
    margin-top: 20px;
    font-weight: bold;
    color:  #6a0dad;
    display: none;
}

/* Lista de productos reportados */
#lista-agotados {
    margin-top: 30px;
    max-height: 300px;
    overflow-y: auto;
}

.producto-agotado {
    background-color: #f3e5ff;
    border-left: 5px solid #6a0dad;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.producto-agotado p {
    margin: 0;
    font-weight: bold;
    color: #4a0073;
}
